@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  font-family: 'Inter', Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
