.search-form {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 70px 70px 48px;
  margin: 0 auto;
}

.search-form__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  margin-bottom: 29px;
}

.search-form__search-icon {
  width: 34px;
  height: 34px;
  object-fit: cover;
  object-position: center;
}

.search-form__film-input {
  width: calc(100% - 160px);
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 0;
}

.search-form__film-input:focus {
  outline: none;
}

.search-form__film-input::placeholder {
  color: #A0A0A0;
}

.search-form__submit-btn {
  width: 34px;
  height: 34px;
  background: url(../../images/find-icon.svg) no-repeat center/cover;
  border: none;
  padding: 0;
  transition: opacity .2s ease-in;
}

.search-form__submit-btn:hover {
  cursor: pointer;
  opacity: .8;
}

.search-form__switch-label {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.search-form__switch {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50% 0 0 0);
}

.search-form__pseudo-switch {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #EBEBEB;
  display: block;
  margin-right: 12px;
  transition: background-color .2s ease-in;
}

.search-form__pseudo-switch:hover {
  cursor: pointer;
}

.search-form__pseudo-switch::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #F5F5F5;
  content: "";
  top: 6px;
  left: 6px;
  transition: left .2s ease-in;
}

.search-form__switch:checked + .search-form__pseudo-switch {
  background-color: #2BE080;
}

.search-form__switch:checked + .search-form__pseudo-switch::before {
  background-color: #FFF;
  left: calc(100% - 14px);
}
