.header {
  background-color: #FFF;
  color: #000;
}

.header_type_blue {
  background-color: #465DFF;
  color: #FFF;
}

.header__container {
  max-width: 1280px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 14px;
  margin: 0 auto;
}

.header__menu-btn {
  display: block;
  min-width: 22px;
  height: 40px;
  border: none;
  background-color: inherit;
  background: url(../../images/menu-icon.svg) no-repeat center/cover;
  padding: 0;
  transition: opacity .2s ease-in;
}

.header__menu-btn:hover {
  cursor: pointer;
  opacity: .8;
}

@media (min-width: 768px) {
  .header__container {
    padding: 0 30px;
  }
  .header__menu-btn {
    min-width: 44px;
    height: 44px;
  }
}

@media (min-width: 1024px) {
  .header__menu-btn {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header__container {
    padding: 0 70px;
  }
}
