.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 56px 30px 30px;
}

.register__container {
  max-width: 396px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.register__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 50px 0 80px;
}

.register__question {
  align-self: center;
  font-size: 12px;
  line-height: 15px;
  color: #A0A0A0;
  margin: 14px 0 0;
}

.register__link {
  color: #FF6838;
  text-decoration: none;
  margin-left: 7px;
  transition: opacity .2s ease-in;
}

.register__link:hover {
  opacity: .7;
}

@media (min-width: 768px) {
  .register__container {
    align-items: normal;
  }
  .register__title {
    margin: 40px 0;
  }
  .register__question {
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0 0;
  }
  .register__link {
    margin-left: 6px;
  }
}

